.page-header {
  display: flex;
  align-items: center;
  height: 80px;
  justify-content: space-between;
}

.logo-Web {
  color: #2196F3;
  font-family: "Raleway";
}

.nav {
  display: flex;
  justify-content: space-around;
  gap: 50px;
  margin-right: 200px;
}
.nav-link {
  color: black;
  font-family: "Roboto";
  font-weight: 500;
  position: relative;
}
.nav-link:hover {
  color: #2196F3;
}

.active-port::after {
  content: "";
  position: absolute;
  width: 73px;
  height: 5px;
  background-color: rgb(33, 150, 243);
  border-radius: 2px;
  top: 45px;
  left: 2px;
  animation-name: line;
  animation-duration: 0.5s;
}

.logo {
  font-size: 26px;
  font-weight: 700;
  line-height: 30.52px;
  letter-spacing: 0.03em;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  font-family: "Raleway";
}

.nav-extra {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
}
.nav-extra-phonenumber {
  color: #757575;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.svg-email,
.svg-phone {
  color: rgb(117, 117, 117);
}

.svg-email:hover {
  color: rgb(33, 150, 243);
}

.active::after {
  content: "";
  position: absolute;
  width: 48px;
  height: 5px;
  background-color: rgb(33, 150, 243);
  border-radius: 2px;
  top: 45px;
  left: 2px;
  animation-name: line;
  animation-duration: 0.5s;
}

.head-burger {
  display: none;
}

@media (min-width: 480px) and (max-width: 760px) {
  .nav {
    display: none;
  }
  .nav-extra {
    display: none;
  }
  .container {
    max-width: 480px;
    padding: 0 5px;
    margin: 0 auto;
  }
  .head-burger {
    display: block;
    margin-right: 15px;
  }
  .page-header {
    height: 60px;
  }
}
@media (min-width: 760px) and (max-width: 1200px) {
  .container {
    max-width: 760px;
    padding: 0 5px;
    margin: 0 auto;
  }
  .head-burger {
    display: none;
  }
  .nav {
    display: flex;
    width: 283px;
    margin-right: 0px;
  }
  .nav-link {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 2%;
  }
  .nav-link-email {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 2%;
    color: rgb(117, 117, 117);
  }
  .page-header {
    height: 80px;
    justify-content: space-between;
  }
  .nav-extra {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 138px;
  }
  .nav-extra-li {
    display: flex;
    gap: 5px;
  }
  .nav-extra-phonenumber {
    padding-right: 10px;
    gap: 10px;
  }
  .number {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 2%;
  }
}
.hero {
  width: 100%;
  height: 600px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/peopleworking.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-div-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 125px;
}
.hero-button-services {
  display: flex;
  justify-content: center;
  align-self: center;
}

.background-color {
  background-color: #2F303A;
}

.hero-title {
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  margin-block-end: 0px;
}

.button {
  font-size: 16px;
  font-weight: 700;
  font-family: "Roboto";
  background-color: #2196F3;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: white;
  width: 216px;
  height: 50px;
  border-radius: 4px;
  font-family: "Roboto";
  border: 1px solid transparent;
}

.back-drop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}

.modal {
  position: absolute;
  top: 150px;
  left: 680px;
  width: 528px;
  height: 581px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 40px;
  gap: 50px;
  background-color: white;
  opacity: 1;
  animation-name: scaleModal;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.btn {
  position: absolute;
  top: 15px;
  left: 480px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

.btn:hover {
  border: 1px solid #2196F3;
}

.close {
  padding-top: 7px;
  padding-left: 2px;
  color: black;
}
.close:hover {
  color: #2196F3;
}

@keyframes scaleModal {
  from {
    transform: translate(0%, 50%);
  }
  to {
    transform: translate(0%, 0%);
  }
}
.modal-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: rgb(33, 33, 33);
  position: absolute;
  top: 45px;
  left: 55px;
  width: 448px;
  height: 23px;
}

.form-name {
  position: absolute;
  top: 75px;
  left: 40px;
  width: 448px;
  height: 58px;
}

#input-modal {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
}

.label-form {
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto";
  color: rgb(117, 117, 117);
}

.label-form:focus-within svg {
  color: #2196F3;
}

.form-phone {
  position: absolute;
  left: 40px;
  top: 150px;
  width: 448px;
  height: 58px;
}

#input-modal:focus, #comment-modal:focus {
  border: 1px solid rgb(33, 150, 243);
  outline: 1px solid rgb(33, 150, 243);
}

.form-email {
  position: absolute;
  left: 40px;
  top: 210px;
}

.form-comment {
  position: absolute;
  top: 275px;
  left: 40px;
}

#comment-modal {
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto";
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: rgba(117, 117, 117, 0.5);
  opacity: 0.5;
  padding-left: 10px;
  padding-top: 10px;
}

.modal-square {
  position: absolute;
  top: 440px;
  left: 50px;
  fill: rgb(33, 33, 33);
}

.agreements-modal {
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto";
  position: absolute;
  color: rgb(117, 117, 117);
  top: 440px;
  left: 75px;
  width: 400px;
  height: 24px;
}

.link-modal {
  color: #2196F3;
  text-decoration: underline;
}

.btn-send {
  position: absolute;
  width: 200px;
  height: 50px;
  background-color: #2196F3;
  color: #FFFFFF;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  top: 500px;
  left: 165px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.svg-modal-person {
  position: absolute;
  top: 30px;
  left: 10px;
  z-index: 2;
  color: rgb(33, 33, 33);
}

.svg-modal-phone {
  position: absolute;
  z-index: 2;
  top: 30px;
  left: 10px;
  color: rgb(33, 33, 33);
}

.svg-modal-email {
  position: absolute;
  z-index: 2;
  left: 10px;
  top: 30px;
  color: rgb(33, 33, 33);
}

@media (min-width: 480px) and (max-width: 760px) {
  .hero {
    height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/herophone.png);
  }
  .hero-title {
    font-family: "Roboto";
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    letter-spacing: 6%;
    text-align: center;
    text-transform: uppercase;
  }
  .button {
    width: 200px;
    height: 50px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 6%;
    text-align: center;
    vertical-align: middle;
    margin-top: 30px;
  }
  .modal {
    top: 93px;
    left: 15px;
    width: 450px;
    height: 609px;
    border-radius: 4px;
  }
  .modal-title {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 3%;
    text-align: center;
    width: 370px;
    height: 60px;
  }
  .form-name, .form-phone, .form-email, .form-comment {
    width: 370px;
    height: 58px;
    margin-top: 20px;
  }
  #input-modal {
    width: 370px;
    height: 40px;
  }
  #comment-modal {
    width: 370px;
    height: 120px;
  }
  .agreements-modal {
    width: 370px;
    height: 15px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 3%;
    padding-top: 2px;
    margin-top: 7px;
  }
  .modal-square {
    width: 16px;
    height: 16px;
    color: rgb(33, 33, 33);
    margin-top: 7px;
  }
  .btn-send {
    width: 200px;
    height: 50px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 6%;
    text-align: center;
    vertical-align: middle;
    transform: translateX(-40px);
  }
  .btn {
    top: 10px;
    left: 407px;
  }
}
@media (min-width: 760px) and (max-width: 1200px) {
  .container {
    max-width: 760px;
    margin: 0 auto;
  }
  .hero {
    height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/herobgtablet.png);
  }
  .modal {
    top: 108px;
    left: 179px;
  }
}
.advantages {
  height: 760px;
}
.advantages-photo {
  width: 450px;
  height: 120px;
  background-color: rgb(245, 244, 250);
  padding-top: 20px;
  display: none;
}
.advantages-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 100px;
}
.advantages-list-li {
  width: 270px;
  text-align: center;
  pad: 20px;
}
.advantages-list-li::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-size: contain;
  background-position: center;
  margin: 0 auto 10px;
}
.advantages-list-li:nth-child(1)::before {
  background-image: url(../img/anthena.jpg);
  background-repeat: no-repeat;
  border-radius: 5px;
}
.advantages-list-li:nth-child(2)::before {
  background-image: url(../img/clock.jpg);
  background-repeat: no-repeat;
  border-radius: 5px;
}
.advantages-list-li:nth-child(3)::before {
  background-image: url(../img/graphics.jpg);
  background-repeat: no-repeat;
  border-radius: 5px;
}
.advantages-list-li:nth-child(4)::before {
  background-image: url(../img/astronaut.jpg);
  background-repeat: no-repeat;
  border-radius: 5px;
}

.advantage-item {
  font-size: 14px;
  font-weight: 700;
  font-family: "Roboto";
  line-height: 100%;
  letter-spacing: 0.03em;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-transform: uppercase;
  padding-top: 15px;
}

.advantages-info {
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto";
  line-height: 24px;
  letter-spacing: 3%;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #757575;
  padding-top: 15px;
}

@media (min-width: 480px) and (max-width: 760px) {
  .advantages {
    height: 1000px;
    margin-top: 0px;
  }
  .advantages-photo {
    display: block;
  }
  .advantages-info {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 3%;
  }
  .advantages-list-li {
    width: 450px;
    height: 226px;
  }
  .advantages-list-li::before {
    position: absolute;
    opacity: 0;
  }
  .advantage-item {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 3%;
    text-align: center;
    text-transform: uppercase;
    padding-top: 35px;
  }
}
@media (min-width: 760px) and (max-width: 1200px) {
  .advantages {
    height: 600px;
  }
  .advantages-photo {
    width: 354px;
    height: 120px;
  }
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
  }
  .advantages-list-li {
    width: 354px;
    height: 224px;
  }
  .advantages-info {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 3%;
    text-align: left;
  }
  .advantage-item {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 3%;
    text-transform: uppercase;
    text-align: left;
  }
}
.work-directions {
  height: 500px;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}
.work-directions-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
  letter-spacing: 0.03em;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  padding-top: 50px;
}
.work-directions-wrapper {
  position: relative;
  width: 370px;
  height: 294px;
}
.work-directions-wrapper-title {
  font-size: 14px;
  font-weight: 700;
  font-family: "Roboto";
  position: absolute;
  bottom: 0;
  left: 0%;
  z-index: 2;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  padding-top: 25px;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

@media (min-width: 480px) and (max-width: 760px) {
  .work-directions-title {
    display: none;
  }
  .work-directions {
    display: none;
  }
}
.ourteam {
  background-color: #f5f4fa;
  height: 648px;
  margin-top: 100px;
}
.ourteam-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 25px;
}
.ourteam-wrapper-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
  letter-spacing: 0.03em;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.ourteam-list {
  display: flex;
  justify-content: space-between;
}
.ourteam-list-card {
  background-color: #FFFFFF;
  height: 428px;
  box-shadow: 0px 2px 1px 0px rgb(0, 0, 0);
  box-shadow: 0px 1px 1px 0px rgb(0, 0, 0);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.names {
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto";
  line-height: 18.75px;
  letter-spacing: 0.03em;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-align: center;
  padding-top: 30px;
}

#proffession {
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto";
  line-height: 18.75px;
  letter-spacing: 0.03em;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-align: center;
  color: #757575;
  padding-top: 10px;
}

.div-svg {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 20px;
}

.svg-wrapper {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.svg-wrapper:hover {
  border-radius: 50%;
  background-color: #2196F3;
  color: white;
}

.svg-profile-icon {
  padding-left: 10px;
  opacity: 0.6;
  color: #757575;
}
.svg-profile-icon:hover {
  color: white;
}

@media (min-width: 480px) and (max-width: 760px) {
  .ourteam {
    height: 2760px;
  }
  .ourteam-wrapper-title {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 3%;
    text-align: center;
  }
  .ourteam-list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  .ourteam-list-card {
    width: 450px;
    height: 622px;
  }
  .img-card {
    width: 450px;
    height: 460px;
  }
  .div-svg {
    justify-content: center;
    gap: 10px;
  }
}
@media (min-width: 760px) and (max-width: 1200px) {
  .ourteam {
    height: 1300px;
  }
  .ourteam-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
  }
  .ourteam-list-card {
    width: 354px;
    height: 536px;
  }
  .img-card {
    width: 354px;
    height: 374px;
  }
}
.clients {
  height: 370px;
}
.clients-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 3%;
  text-align: center;
  padding-top: 50px;
}
.clients-list {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.clients-list-li {
  width: 170px;
  height: 92px;
  border: 1px solid rgb(175, 177, 184);
  border-radius: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clients-list-li:hover {
  border: 1px solid rgb(33, 150, 243);
}

.foster {
  opacity: 0.6;
}

.svg-client {
  color: rgb(175, 177, 184);
  width: 170px;
  height: 92px;
  padding-top: 25px;
  padding-left: 50px;
}
.svg-client:hover {
  color: #2196F3;
  opacity: 1;
}

@media (min-width: 480px) and (max-width: 760px) {
  .clients {
    height: 500px;
  }
  .clients-title {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 3%;
    text-align: center;
    color: rgb(33, 33, 33);
  }
  .clients-list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .clients-list-li {
    width: 210px;
    height: 92px;
    margin-left: 5px;
    border-radius: 4px;
  }
}
@media (min-width: 760px) and (max-width: 1200px) {
  .clients {
    height: 400px;
  }
}
.page-footer {
  display: flex;
  gap: 75px;
  align-items: center;
  height: 252px;
}
.page-footer-div {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.page-footer-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.page-footer-list-li {
  color: white;
}

.logo-bottom {
  font-size: 26px;
  font-weight: 700;
  line-height: 30.52px;
  letter-spacing: 0.03em;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: white;
  font-family: "Raleway";
}

.bottominfo {
  color: rgba(255, 255, 255, 0.6);
}

.title-footer-svg {
  font-size: 14px;
  font-weight: 700;
  font-family: "Roboto";
  line-height: 100%;
  letter-spacing: 3%;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.list-svg-footer {
  display: flex;
  gap: 15px;
  align-items: center;
}

.svg-footer {
  width: 44px;
}

.form-footer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-div-footer {
  position: relative;
  display: flex;
  gap: 15px;
}

.title-form-footer {
  font-size: 14px;
  font-weight: 700;
  font-family: "Roboto";
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.input-form-footer {
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto";
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  line-height: 20px;
  vertical-align: middle;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border-radius: 4px;
  padding-left: 15px;
}

.btn-sub-footer {
  font-size: 16px;
  font-weight: 700;
  font-family: "Roboto";
  width: 200px;
  height: 50px;
  background-color: rgb(33, 150, 243);
  color: rgb(255, 255, 255);
  border: 1px solid transparent;
  margin-top: 30px;
  border-radius: 4px;
  padding-right: 30px;
}

.svg-tg-footer {
  position: absolute;
  z-index: 2;
  top: 43px;
  left: 520px;
  color: white;
}

.svg-footer-social {
  color: white;
  padding-top: 12px;
  padding-left: 12px;
}

.svg-footer {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.svg-footer:hover {
  background-color: #2F303A;
}

.bottom-adress {
  color: #FFFFFF;
}

@media (min-width: 480px) and (max-width: 760px) {
  .page-footer {
    flex-direction: column;
    height: 653px;
    padding-top: 50px;
  }
  .page-footer-div {
    gap: 0px;
  }
  .logo {
    text-align: center;
  }
  .page-footer-list-li {
    text-align: center;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 3%;
    text-align: center;
  }
  .bottominfo {
    text-align: center;
  }
  .title-footer-svg {
    text-align: center;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 3%;
    text-align: center;
    text-transform: uppercase;
  }
  .list-svg-footer {
    padding-left: 10px;
  }
  .form-div-footer {
    display: block;
  }
  .title-form-footer {
    text-align: center;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 3%;
    text-align: center;
    text-transform: uppercase;
  }
  .input-form-footer {
    width: 450px;
    height: 50px;
  }
  .btn-sub-footer {
    transform: translate(60%, 50%);
    margin-top: 0px;
  }
  .svg-tg-footer {
    position: absolute;
    left: 270px;
    z-index: 2;
    top: 35px;
  }
  .footer-tg-btn {
    position: relative;
  }
}
@media (min-width: 760px) and (max-width: 1200px) {
  .page-footer {
    height: 463px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 0px;
    padding-top: 0px;
  }
  .page-footer-list {
    gap: 5px;
  }
  .bottom-logo {
    margin-bottom: 10px;
  }
}
.main-portfolio {
  height: 1350px;
}

.nav-page {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 100px;
  margin-bottom: 50px;
}
.nav-page-button {
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto";
  background-color: #f5f4fa;
  border-color: transparent;
  border-radius: 4px;
  line-height: 26px;
  letter-spacing: 0.03em;
}
.nav-page-button:hover {
  background-color: #2196F3;
  color: #FFFFFF;
  box-shadow: 0px 4px 0.1px 0.1px rgba(0, 0, 0, 0.1);
}

.underline {
  border-bottom: 1px solid #ECECEC;
}

.nameofthings {
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  padding-left: 20px;
  height: 36px;
  margin-top: 10px;
}

.wheretouse {
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto";
  line-height: 30px;
  letter-spacing: 0.03em;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #757575;
  padding-left: 20px;
  height: 30px;
  margin-bottom: 15px;
}

.main-img {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-left: 50px;
}

.item {
  flex-basis: calc(100% - 60px)/3;
  border: 1px solid #EEEEEE;
  position: relative;
}

.item:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.36);
  box-shadow: 0px 4px 4px 0px rgb(0, 0, 0);
  box-shadow: 0px 1px 1px 0px rgb(0, 0, 0);
}

.wrapper-item-hover {
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto";
  opacity: 0;
  width: 340px;
  height: 274px;
  background-color: rgba(33, 150, 243, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  line-height: 28px;
  letter-spacing: 3%;
}

.div-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 340px;
  height: 336px;
}

.div-wrapper:hover .wrapper-item-hover {
  animation-name: animationPortfolio;
  animation-duration: 300ms;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}

@keyframes animationPortfolio {
  from {
    transform: translate(0, 254px);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes scale {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes line {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}
@media (min-width: 480px) and (max-width: 760px) {
  .nav-page {
    width: 426px;
    height: 91px;
    flex-wrap: wrap;
    justify-content: start;
  }
  .btn1 {
    width: 73px;
    height: 38px;
  }
  .btn2 {
    width: 125px;
    height: 38px;
  }
  .btn3 {
    height: 38px;
    width: 112px;
  }
  .btn4 {
    height: 38px;
    width: 101px;
  }
  .btn5 {
    height: 38px;
    width: 130px;
  }
  .main-portfolio {
    height: 4100px;
  }
  .item {
    width: 450px;
    height: 404px;
  }
  .item-img {
    width: 450px;
    height: 294px;
  }
  .div-wrapper {
    width: 450px;
    height: 294px;
  }
  .item-hover {
    width: 450px;
    height: 294px;
  }
  .wrapper-item-hover {
    width: 450px;
    height: 294px;
  }
  .main-img {
    padding-left: 0;
  }
  .item-hover {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 3%;
    text-align: center;
    padding-top: 100px;
  }
}
@media (min-width: 760px) and (max-width: 1200px) {
  .nav-page {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
  }
  .main-portfolio {
    height: 2500px;
  }
  .main-img {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .item-img {
    width: 354px;
    height: 294px;
  }
  .item {
    width: 354px;
    height: 440px;
  }
  .nameofthings {
    padding-top: 15px;
    width: 306px;
  }
  .wheretouse {
    padding-top: 15px;
  }
  .marg {
    margin-bottom: 25px;
    padding-top: 5px;
  }
  .wrapper-item-hover {
    width: 354px;
    height: 294px;
  }
  .item-hover {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 3%;
    text-align: left;
    padding-left: 10px;
    padding-top: 70px;
    opacity: 0.8;
    width: 354px;
    height: 294px;
  }
  .div-wrapper {
    width: 354px;
    height: 294px;
  }
}
* {
  margin-block-start: 0;
  margin-block-end: 0;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  font-family: "Roboto";
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

a {
  text-decoration: none;
  color: var(--royal-color);
}

@media (max-width: 1200px) {
  .work-directions {
    display: none;
  }
  .work-directions-title {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */