@import "../utilities/variables";
@import "../utilities/variables";
.page-footer {
    display: flex;
    gap: 75px;
    align-items: center;
    height: 252px;
    &-div{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    &-list{
        display: flex;
        flex-direction: column;
        gap: 15px;
        &-li{
            color: white;
        }
    }
}
.logo-bottom {
    font-size: 26px;
    font-weight: 700;
    line-height: 30.52px;
    letter-spacing: 0.03em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
    font-family: "Raleway";
}
.bottominfo{
    color: rgba(255, 255, 255, 0.6);

}
.title-footer-svg {
    @include small-text(700);
    line-height: 100%;
    letter-spacing: 3%;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.list-svg-footer {
    display: flex;
    gap: 15px;
    align-items: center;
}
.svg-footer {
    width: 44px;

}
.form-footer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-div-footer {
    position: relative;
    display: flex;
    gap: 15px;
}

.title-form-footer {
    @include small-text(700);
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
}

.input-form-footer {
    @include medium-text(400);
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    line-height: 20px;
    vertical-align: middle;
    color: rgba(255, 255, 255, 0.6);
    background-color: transparent;
    border-radius: 4px;
    padding-left: 15px
}
.btn-sub-footer {
    @include medium-text(700);
    width: 200px;
    height: 50px;
    background-color: rgba(33, 150, 243, 1);
    color: rgba(255, 255, 255, 1);
    border: 1px solid transparent;
    margin-top: 30px;
    border-radius: 4px;
    padding-right: 30px;
}

.svg-tg-footer {
    position: absolute;
    z-index: 2;
    top: 43px;
    left: 520px;
    color: white;
}

.svg-footer-social {
    color: white;
    padding-top: 12px;
    padding-left: 12px;
}

.svg-footer {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    &:hover{
        background-color: $brand-color;
    }
}
.bottom-adress {
    color: #FFFFFF;
}
@media (min-width:480px) and (max-width:760px) {
    .page-footer{
        flex-direction: column;
        height: 653px;
        padding-top: 50px;
        &-div{
            gap: 0px;
        }
    }
    .logo{
        text-align: center;
    }
    .page-footer-list-li{
        text-align: center;
        font-family: "Roboto";
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 3%;
            text-align: center;
    }
    .bottominfo{
        text-align: center;
    }
    .title-footer-svg{
        text-align: center;
        font-family: "Roboto";
            font-weight: 700;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 3%;
            text-align: center;
            text-transform: uppercase;
    }
    .list-svg-footer{
        padding-left: 10px;
    }
    .form-div-footer{
        display: block;
    }
    .title-form-footer{
        text-align: center;
        font-family: "Roboto";
            font-weight: 700;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 3%;
            text-align: center;
            text-transform: uppercase;
    }
    .input-form-footer{
        width: 450px;
        height: 50px;
    }
    .btn-sub-footer{
        transform: translate(60%,50%);
        margin-top: 0px;
    }
    .svg-tg-footer{
        position: absolute;
        left: 270px;
        z-index: 2;
        top: 35px;
    }
    .footer-tg-btn{
        position: relative;
    }
}
@media (min-width:760px) and (max-width:1200px) {
    .page-footer{
        height: 463px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        gap: 0px;
        padding-top: 0px;
        &-list{
            gap: 5px;
        }
    }
    .bottom-logo{
        margin-bottom: 10px;
    }
}