@import "../utilities/variables";
@import "../utilities/mixins";
.main-portfolio {
    height: 1350px;

}
.nav-page {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 100px;
    margin-bottom: 50px;
    &-button{
        @include medium-text(500);
        background-color: #f5f4fa;
        border-color: transparent;
        border-radius: 4px;
        line-height: 26px;
        letter-spacing: 0.03em;
        &:hover{
            background-color: $brand-color;
            color: #FFFFFF;
            box-shadow: 0px 4px 0.1px 0.1px rgba(0, 0, 0, 0.1);
        }
    }
}
.underline {
    border-bottom: 1px solid #ECECEC;
}
.nameofthings {
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.06em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-left: 20px;
    height: 36px;
    margin-top: 10px
}
.wheretouse {
    @include medium-text(400);
    line-height: 30px;
    letter-spacing: 0.03em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #757575;
    padding-left: 20px;
    height: 30px;
    margin-bottom: 15px;
}
.main-img {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-left: 50px;
}
.item {
    flex-basis: calc(100% - 60px) / 3;
    border: 1px solid #EEEEEE;
    position: relative;
}
.item:hover {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.36);

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 2.36);

    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 2.42);
}
.wrapper-item-hover {
    @include medium-text(400);
    opacity: 0;
    width: 340px;
    height: 274px;
    background-color: rgba(33, 150, 243, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    line-height: 28px;
    letter-spacing: 3%;
}
.div-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 340px;
    height: 336px;
}
.div-wrapper:hover .wrapper-item-hover {
    animation-name: animationPortfolio;
    animation-duration: 300ms;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}
@keyframes animationPortfolio {
    from {
        transform: translate(0, 254px);
        opacity: 0;
    }

    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}
@keyframes scale {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}
@keyframes line {
    0% {
        width: 0;
        opacity: 0;
    }

    100% {
        width: 100%;
        opacity: 1;
    }
}
@media (min-width:480px) and (max-width:760px) {
    .nav-page{
        width: 426px;
        height: 91px;
        flex-wrap: wrap;
        justify-content: start;
    }
    .btn1{
        width: 73px;
        height: 38px;
    }
    .btn2{
        width: 125px;
        height: 38px;
    }
    .btn3{
        height: 38px;
        width: 112px;
    }
    .btn4{
        height: 38px;
        width: 101px;
    }
    .btn5{
        height: 38px;
        width: 130px;
    }
    .main-portfolio{
        height: 4100px;
    }
    .item{
        width: 450px;
        height: 404px;
        &-img{
            width: 450px;
            height: 294px;
        }
    }
    .div-wrapper{
        width: 450px;
        height: 294px;
    }
    .item-hover{
        width: 450px;
        height: 294px;
    }
    .wrapper-item-hover{
        width: 450px;
        height: 294px;
    }
    .main-img{
        padding-left: 0;
    }
    .item-hover{
        font-family: "Roboto";
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            letter-spacing: 3%;
            text-align: center;
            padding-top: 100px;
    }
}